<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>密码</th>
        <th>年龄</th>


    </tr>
    </thead>
    <tbody>
    {% for item in datalist %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.password }}</td>
            <td>{{ item.age }}</td>
            <td>
                <a href="http://127.0.0.1:8000/info_delete/?nid={{ item.id }}">删除</a>
            </td>



        </tr>




    {% endfor %}






    </tbody>





</table>
</body>
</html>