<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>增加用户信息</h1>
<form method="post" >
      {% csrf_token %}
    <input type="text" name="user" placeholder="用户名">
    <input type="text" name="pwd" placeholder="密码">
    <input type="text" name="age" placeholder="年龄">
    <input type="text" name="at" placeholder="数量">
    <input type="text" name="xb" placeholder="性别">
    <input type="text" name="did" placeholder="部门号">
    <input type="submit" value="提交">
</form>
</body>
</html>